* {
	margin: 0;
	padding: 0;
  }
  
  ul {
	list-style-type: none;
  }
  
  body {
	background-image: url(../image/bgimage.jpg);
	background-position: center;
	background-size: 1500px 1500px;
	font-family: sans-serif;
	margin-top: 40px;
	overflow-x: hidden;
  }
  
  .regform {
	width: 700px;
	background-color: rgb(0, 0, 0, 6);
	margin: auto;
	color: #ffffff;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
  }
  
  .main {
	background-color: rgb(0, 0, 0, 0.5);
	width: 800px;
	margin: auto;
  }
  
  form {
	padding: 10px;
  }
  
  .labels {
	color: white;
	font-size: 18px;
	font-weight: 700;
  }
  
  .textinput {
	line-height: 40px;
	border-radius: 6px;
	padding: 0 10px;
	font-size: 15px;
  }
  
  table {
	border-collapse: collapse;
  }
  
  table.list {
	width: 100%;
  }
  
  td,
  th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  }
  
  tr:nth-child(even),
  table.list thead>tr {
	background-color: #dddddd;
  }